*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* background-color:  rgb(37, 35, 35); */
}
.bg-all{
    display: inline-flex;

}
.all {
    width: 300px;
    height: 100vh;
    background-color: orange;
    border-radius: 10px;
}
.all .bg-left img {
    width: 250px;
    margin-left: 20px;
}
.text{
    text-transform: capitalize;
    margin-left: 40px;
}
.in:hover {
    background-color: orangered;
    height: 40px;
    border-radius: 20px;
}


.button {
position: relative;
appearance: none;
padding: 1em 1em;
border: none;
font-size: 20px;
cursor: pointer;
outline: none;
overflow: hidden;
border-radius: 20px;
span {
    position: relative;
    pointer-events: none;
}

&::before {
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(circle closest-side, orangered, transparent);
    transform: translate(-50%, -50%);
    transition: width .2s ease, height .2s ease;
}

&:hover::before {
    --size: 500px;
}
}
a{
    text-decoration: none;
    color: black;
}
.left{
    text-transform: capitalize;
    margin-left: 700px;
    margin-top: 300px;
    text-align: center;
}
h2{
    text-transform: uppercase;
}
.btnn{
    font-size: 68px;
    width: 120px;
    height: 120px;
    line-height: 114px;
    display: block;
    margin: 20px auto 30px;
    border-radius: 60px;
    border: 1px solid #FFFFFF;
    background-color: #D5D5D5;
    text-align: center;
    color: #FFFFFF;
}
.line{
    border: 2px solid white;
    width: 700px;
}

