* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: rgb(37, 35, 35)
}
.main {
width: 100%;
height: 100px;
}
.wrapper {
width: 100%;
height: 100px;
background-color: #ee4d2d;
}
.search {
margin-left: 400px;
margin-top: -70px;
}
.btn {
width: 50px;
height: 40px;
color: white;
border-radius: 3px;
background-color: #d38879;
}
.wp-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.wp-detail .item{
    border: 1px solid black;
    width: 400px;
    height: 550px;
    background-color: black;

}
.wp-detail .item a img{
    width:395px;
    height: 400px;
}

/* .list-detail{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
        
} 
.list-detail .item{
    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}
.list-detail .item img{
    display: block;
    margin:0px auto;
    margin-top:17px;
} */

#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:338px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;
}

#footer .box .quick-menu .item{
    margin-bottom:12px;
}

#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}

#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}


#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}

.include{
    display: inline-flex;
    gap: 40px;
    margin-left: 190px;
}
span{
    font-size: 15px;
}
a {
    text-decoration: none;
    color: white;
}
button{
    border-radius: 5px;
}